* {
  font-family: 'Roboto', sans-serif;
}

.calendarInputContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.calendarInput:active,
.calendarInput:focus {
  outline: none;
}


.calendarContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10px);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 16px;
  background-color: white;
}

.calendarHeader {
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendarWeekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 12px;
  padding-bottom: 8px;
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendarDay {
  border: none;
  background-color: transparent;
  padding: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.calendarDay:hover {
  background-color: #6666662d;
}

.calendarButton {
  background-color: #a1a1a1;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.calendarButton.home-button {
  display: flex;
}

.calendarButton:hover {
  background-color: #636363;
}

.calendarDay.today {
  background-color: #6666662d;
}

.Dropdown {
  border: none;
  text-align: right;
}

.Dropdown:focus {
  outline: none;
}