.title {
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.address {
    margin-top: 10px;
}

.employeeTable {
    width: 80%;
    border-collapse: collapse;
}


.employeeTableHeader {
    padding: 10px;
    background-color: #028090;
    color: white;

}

.employeeTableCell {
    text-align: center;
    padding: 10px;
}

.employeeTableRow:hover {
    background-color: #02809011;
    transition-duration: 0.3s;
}


.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}